USE [ClothesShop]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[slug] [nvarchar](320) NULL,
	[description] [nvarchar](max) NULL,
	[datePost] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
	[mainImg] [nvarchar](500) NULL,
	[status] [int] NOT NULL,
	[model] [nvarchar](200) NULL,
	[priority] [int] NOT NULL,
	[categoryID] [int] NOT NULL,
	[producerID] [int] NOT NULL,
	[brandID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[sizeOptionID] [int] NOT NULL,
	[colorOptionID] [int] NOT NULL,
	[sku] [nvarchar](80) NOT NULL,
	[barcode] [nvarchar](80) NULL,
	[oldPrice] [decimal](18, 2) NOT NULL,
	[newPrice] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[variantImg] [nvarchar](500) NULL,
	[weightGrams] [int] NULL,
	[isDefault] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[dateCreated] [datetime2](3) NOT NULL,
	[dateUpdated] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_ProductVariant_sku] UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductPriceStock]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_ProductPriceStock] AS
SELECT
    p.ID AS productID,
    MIN(v.newPrice) AS minPrice,
    MAX(v.newPrice) AS maxPrice,
    SUM(v.quantity) AS totalQuantity
FROM dbo.Product p
JOIN dbo.ProductVariant v ON v.productID = p.ID AND v.status = 1
GROUP BY p.ID;
GO
/****** Object:  Table [dbo].[BlogPost]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPost](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[blogCategoryID] [int] NULL,
	[authorAccountID] [int] NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[slug] [nvarchar](320) NOT NULL,
	[excerpt] [nvarchar](1000) NULL,
	[contentHtml] [nvarchar](max) NOT NULL,
	[coverImg] [nvarchar](500) NULL,
	[status] [int] NOT NULL,
	[isFeatured] [bit] NOT NULL,
	[publishedAt] [datetime2](3) NULL,
	[dateCreated] [datetime2](3) NOT NULL,
	[dateUpdated] [datetime2](3) NULL,
	[viewCount] [int] NOT NULL,
	[seoTitle] [nvarchar](320) NULL,
	[seoDescription] [nvarchar](500) NULL,
	[readingMinutes] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_BlogPost_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](200) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](500) NOT NULL,
	[role] [int] NOT NULL,
	[date] [datetime2](3) NOT NULL,
	[status] [int] NOT NULL,
	[avatar] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Account_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategory]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[slug] [nvarchar](220) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[coverImg] [nvarchar](500) NULL,
	[sortOrder] [int] NOT NULL,
	[status] [int] NOT NULL,
	[datePost] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_BlogCategory_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BlogPublishedPost]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
================================================================================
  VIEW — Blog đã xuất bản (tiện cho trang user / API)
================================================================================
*/

CREATE   VIEW [dbo].[vw_BlogPublishedPost] AS
SELECT
    p.ID,
    p.slug,
    p.title,
    p.excerpt,
    p.coverImg,
    p.publishedAt,
    p.dateUpdated,
    p.viewCount,
    p.isFeatured,
    p.readingMinutes,
    p.blogCategoryID,
    c.name AS categoryName,
    c.slug AS categorySlug,
    p.authorAccountID,
    a.fullname AS authorName,
    a.avatar AS authorAvatar
FROM dbo.BlogPost p
LEFT JOIN dbo.BlogCategory c ON c.ID = p.blogCategoryID AND c.status = 1
JOIN dbo.[Account] a ON a.ID = p.authorAccountID AND a.status = 1
WHERE p.status = 1 AND p.publishedAt IS NOT NULL AND p.publishedAt <= SYSUTCDATETIME();
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NULL,
	[email] [nvarchar](200) NOT NULL,
	[customerName] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
	[detailAddress] [nvarchar](500) NULL,
	[total] [decimal](18, 2) NOT NULL,
	[status] [int] NOT NULL,
	[payment] [int] NOT NULL,
	[dateOrder] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
	[transactionCode] [nvarchar](120) NULL,
	[subtotal] [decimal](18, 2) NULL,
	[discountAmount] [decimal](18, 2) NOT NULL,
	[voucherID] [int] NULL,
	[voucherCodeSnapshot] [nvarchar](80) NULL,
	[shippingAddressID] [int] NULL,
	[cancelReason] [nvarchar](500) NULL,
	[ghnOrderCode] [nvarchar](255) NULL,
	[wardCode] [nvarchar](255) NULL,
	[districtId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[billID] [int] NOT NULL,
	[productVariantID] [int] NULL,
	[productID] [int] NOT NULL,
	[skuSnapshot] [nvarchar](80) NOT NULL,
	[nameProduct] [nvarchar](500) NOT NULL,
	[modelProduct] [nvarchar](200) NULL,
	[imgProduct] [nvarchar](500) NULL,
	[sizeLabelSnapshot] [nvarchar](100) NOT NULL,
	[colorLabelSnapshot] [nvarchar](100) NOT NULL,
	[priceProduct] [decimal](18, 2) NOT NULL,
	[numberOfProduct] [int] NOT NULL,
	[lineTotal]  AS (CONVERT([decimal](18,2),[priceProduct]*[numberOfProduct])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComment]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[blogPostID] [int] NOT NULL,
	[accountID] [int] NULL,
	[guestName] [nvarchar](200) NULL,
	[guestEmail] [nvarchar](200) NULL,
	[body] [nvarchar](4000) NOT NULL,
	[status] [int] NOT NULL,
	[parentCommentID] [int] NULL,
	[datePost] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPostTag]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPostTag](
	[blogPostID] [int] NOT NULL,
	[blogTagID] [int] NOT NULL,
 CONSTRAINT [PK_BlogPostTag] PRIMARY KEY CLUSTERED 
(
	[blogPostID] ASC,
	[blogTagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogTag]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
	[slug] [nvarchar](160) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_BlogTag_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[img] [nvarchar](500) NULL,
	[datePost] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NOT NULL,
	[productVariantID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[dateAdded] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Cart_user_variant] UNIQUE NONCLUSTERED 
(
	[accountID] ASC,
	[productVariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[slug] [nvarchar](220) NULL,
	[datePost] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
	[status] [int] NOT NULL,
	[sizeGroupID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorOption]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorOption](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[hexCode] [char](7) NULL,
	[sortOrder] [int] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[star] [int] NOT NULL,
	[status] [int] NOT NULL,
	[datePost] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imgDescription]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imgDescription](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[imgUrl] [nvarchar](500) NOT NULL,
	[productID] [int] NOT NULL,
	[sortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NOT NULL,
	[tokenHash] [nvarchar](128) NOT NULL,
	[expiresAt] [datetime2](3) NOT NULL,
	[usedAt] [datetime2](3) NULL,
	[createdAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[datePost] [datetime2](3) NOT NULL,
	[dateUpdate] [datetime2](3) NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingAddress]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingAddress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NOT NULL,
	[fullName] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
	[detailAddress] [nvarchar](500) NULL,
	[isDefault] [bit] NOT NULL,
	[createdAt] [datetime2](3) NOT NULL,
	[wardCode] [nvarchar](255) NULL,
	[districtId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeGroup]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[sortOrder] [int] NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_SizeGroup_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeOption]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeOption](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[label] [nvarchar](100) NOT NULL,
	[sortOrder] [int] NOT NULL,
	[status] [int] NOT NULL,
	[sizeGroupID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[code] [nvarchar](80) NOT NULL,
	[value] [decimal](18, 2) NOT NULL,
	[start] [date] NOT NULL,
	[end] [date] NOT NULL,
	[status] [int] NOT NULL,
	[limit] [decimal](18, 2) NULL,
	[used] [int] NOT NULL,
	[discountType] [int] NOT NULL,
	[minOrderAmount] [decimal](18, 2) NOT NULL,
	[maxDiscount] [decimal](18, 2) NULL,
	[usageLimit] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Voucher_code] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NOT NULL,
	[productVariantID] [int] NOT NULL,
	[dateAdded] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Wishlist_user_variant] UNIQUE NONCLUSTERED 
(
	[accountID] ASC,
	[productVariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (sysutcdatetime()) FOR [date]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((0)) FOR [payment]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (sysutcdatetime()) FOR [dateOrder]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_discount]  DEFAULT ((0)) FOR [discountAmount]
GO
ALTER TABLE [dbo].[BlogCategory] ADD  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[BlogCategory] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BlogCategory] ADD  DEFAULT (sysutcdatetime()) FOR [datePost]
GO
ALTER TABLE [dbo].[BlogComment] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[BlogComment] ADD  DEFAULT (sysutcdatetime()) FOR [datePost]
GO
ALTER TABLE [dbo].[BlogPost] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[BlogPost] ADD  DEFAULT ((0)) FOR [isFeatured]
GO
ALTER TABLE [dbo].[BlogPost] ADD  DEFAULT (sysutcdatetime()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[BlogPost] ADD  DEFAULT ((0)) FOR [viewCount]
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT (sysutcdatetime()) FOR [datePost]
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (sysutcdatetime()) FOR [dateAdded]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (sysutcdatetime()) FOR [datePost]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ColorOption] ADD  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[ColorOption] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((5)) FOR [star]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (sysutcdatetime()) FOR [datePost]
GO
ALTER TABLE [dbo].[imgDescription] ADD  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  CONSTRAINT [DF_PasswordResetToken_created]  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Producer] ADD  DEFAULT (sysutcdatetime()) FOR [datePost]
GO
ALTER TABLE [dbo].[Producer] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (sysutcdatetime()) FOR [datePost]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [priority]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((0)) FOR [oldPrice]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT (sysutcdatetime()) FOR [dateCreated]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ShippingAddress] ADD  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[ShippingAddress] ADD  DEFAULT (sysutcdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[SizeGroup] ADD  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[SizeGroup] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[SizeOption] ADD  DEFAULT ((0)) FOR [sortOrder]
GO
ALTER TABLE [dbo].[SizeOption] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF_Voucher_discountType]  DEFAULT ((0)) FOR [discountType]
GO
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [DF_Voucher_minOrder]  DEFAULT ((0)) FOR [minOrderAmount]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (sysutcdatetime()) FOR [dateAdded]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_ShippingAddress] FOREIGN KEY([shippingAddressID])
REFERENCES [dbo].[ShippingAddress] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_ShippingAddress]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Voucher] FOREIGN KEY([voucherID])
REFERENCES [dbo].[Voucher] ([ID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Voucher]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([billID])
REFERENCES [dbo].[Bill] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([productVariantID])
REFERENCES [dbo].[ProductVariant] ([ID])
GO
ALTER TABLE [dbo].[BlogComment]  WITH CHECK ADD FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BlogComment]  WITH CHECK ADD FOREIGN KEY([blogPostID])
REFERENCES [dbo].[BlogPost] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogComment]  WITH CHECK ADD  CONSTRAINT [FK__BlogComme__paren__160F4887] FOREIGN KEY([parentCommentID])
REFERENCES [dbo].[BlogComment] ([ID])
GO
ALTER TABLE [dbo].[BlogComment] CHECK CONSTRAINT [FK__BlogComme__paren__160F4887]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD FOREIGN KEY([authorAccountID])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD FOREIGN KEY([blogCategoryID])
REFERENCES [dbo].[BlogCategory] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BlogPostTag]  WITH CHECK ADD FOREIGN KEY([blogPostID])
REFERENCES [dbo].[BlogPost] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogPostTag]  WITH CHECK ADD FOREIGN KEY([blogTagID])
REFERENCES [dbo].[BlogTag] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([productVariantID])
REFERENCES [dbo].[ProductVariant] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_SizeGroup] FOREIGN KEY([sizeGroupID])
REFERENCES [dbo].[SizeGroup] ([ID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_SizeGroup]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[Account] ([ID])
GO
ALTER TABLE [dbo].[imgDescription]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResetToken_Account] FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetToken] CHECK CONSTRAINT [FK_PasswordResetToken_Account]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([brandID])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([producerID])
REFERENCES [dbo].[Producer] ([ID])
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD FOREIGN KEY([colorOptionID])
REFERENCES [dbo].[ColorOption] ([ID])
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD FOREIGN KEY([sizeOptionID])
REFERENCES [dbo].[SizeOption] ([ID])
GO
ALTER TABLE [dbo].[ShippingAddress]  WITH CHECK ADD FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SizeOption]  WITH CHECK ADD  CONSTRAINT [FK_SizeOption_SizeGroup] FOREIGN KEY([sizeGroupID])
REFERENCES [dbo].[SizeGroup] ([ID])
GO
ALTER TABLE [dbo].[SizeOption] CHECK CONSTRAINT [FK_SizeOption_SizeGroup]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([accountID])
REFERENCES [dbo].[Account] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([productVariantID])
REFERENCES [dbo].[ProductVariant] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [CK_BillDetail_price] CHECK  (([priceProduct]>=(0)))
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [CK_BillDetail_price]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [CK_BillDetail_qty] CHECK  (([numberOfProduct]>(0)))
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [CK_BillDetail_qty]
GO
ALTER TABLE [dbo].[BlogComment]  WITH CHECK ADD  CONSTRAINT [CK_BlogComment_author_or_guest] CHECK  (([accountID] IS NOT NULL OR [guestName] IS NOT NULL AND [guestEmail] IS NOT NULL))
GO
ALTER TABLE [dbo].[BlogComment] CHECK CONSTRAINT [CK_BlogComment_author_or_guest]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD  CONSTRAINT [CK_BlogPost_views] CHECK  (([viewCount]>=(0)))
GO
ALTER TABLE [dbo].[BlogPost] CHECK CONSTRAINT [CK_BlogPost_views]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [CK_Cart_qty] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [CK_Cart_qty]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CK_Feedback_star] CHECK  (([star]>=(1) AND [star]<=(5)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CK_Feedback_star]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [CK_ProductVariant_price] CHECK  (([newPrice]>=(0) AND [oldPrice]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [CK_ProductVariant_price]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [CK_ProductVariant_qty] CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [CK_ProductVariant_qty]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBlogComment]    Script Date: 8/1/2026 12:45:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_DeleteBlogComment]
    @CommentID INT,
    @AccountID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @AccountID IS NOT NULL
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM BlogComment WHERE ID = @CommentID AND accountID = @AccountID)
        BEGIN
            RETURN 0;
        END
    END

    ;WITH Descendants AS (
        SELECT ID, parentCommentID, 0 AS Level
        FROM BlogComment WHERE ID = @CommentID
        UNION ALL
        SELECT bc.ID, bc.parentCommentID, d.Level + 1
        FROM BlogComment bc
        INNER JOIN Descendants d ON bc.parentCommentID = d.ID
    )
    SELECT ID, Level
    INTO #TempToDelete
    FROM Descendants;

    DECLARE @MaxLevel INT;
    SELECT @MaxLevel = MAX(Level) FROM #TempToDelete;
    DECLARE @RowsDeleted INT = 0;

    WHILE @MaxLevel >= 0
    BEGIN
        DELETE FROM BlogComment
        WHERE ID IN (SELECT ID FROM #TempToDelete WHERE Level = @MaxLevel);
        
        SET @RowsDeleted = @RowsDeleted + @@ROWCOUNT;
        SET @MaxLevel = @MaxLevel - 1;
    END

    DROP TABLE #TempToDelete;
    RETURN @RowsDeleted;
END;

GO
